@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Righteous', "cursive";
    font-size: 2rem;
}

h2 {
    font-family: 'Righteous', "cursive";
    font-size: 1.750rem;
}

h3 {
    font-family: 'Righteous', "cursive";
    font-size: 1.500rem;
}

h4 {
    font-family: 'Quicksand', "sans-serif";
    font-size: 1.500rem;
}

h5 {
    font-family: 'Quicksand', "sans-serif";
    font-size: 1.500re
}

p {
    font-family: 'Quicksand', "sans-serif";
}

.paragraph1 {
    font-size: 1.125rem;
}

.paragraph2 {
    font-size: 1.000rem;
}

.filtername {
    font-family: 'Quicksand', "sans-serif";
    font-size: 1rem;
}

h4.category {
    font-size: 1rem;
}

h4.timeanddate {
    font-size: 1rem;
}

h2.forestillingTitle {
    font-size: 1.25rem;
}

option {
    font-size: 0.75rem;
}